services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      APP_VERSION: "0.1.0"
  
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./alerts.yml:/etc/prometheus/alerts.yml:ro

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana

  alertmanager:
    image: prom/alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro

  telegram-webhook:
    image: papko26/alertmanager-webhook-telegram:latest
    platform: linux/amd64
    environment:
      TG_BOT_TOKEN: "8374178594:AAH0DU44nDrlRAbOkvxB6wyrEcnJ4J-IYqA"
      TG_CHAT_ID: "919054414"
      BASIC_AUTH_USERNAME: "admin"
      BASIC_AUTH_PASSWORD: "12345"
    ports:
      - "8081:9119"

volumes:
  grafana-storage:
